<!doctype html>
<html>
<head>
    <title>Pongout</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
        var module = {exports: {}}
    </script>
    <script src="game.js">
    </script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src="client.js">
    </script>
</head>
<body>
<div id="images" style="display:none">
    <audio id="lose">
        <source src="sfx/come_on_2.ogg" />
    </audio>
    <audio id="hit1">
        <source src="sfx/hit_01.ogg" />
    </audio>
    <audio id="hit2">
        <source src="sfx/hit_01_1.ogg" />
    </audio>
    <image id="img-ball" src="img/ball.png"></image>
    <image id="img-player" src="img/player.png"></image>
    <image id="img-block" src="img/block.jpg"></image>
    <image id="img-info" src="img/info.png"></image>
    <image id="img-win" src="img/win.png"></image>
</div>

<div id="viewport" style="position:relative; margin: 0 auto; width: 600px;">
    <image src="img/field.jpg" style="position:absolute; left:0px; top:0px;">
    <canvas id="layer1" width="600" height="600" style="position:absolute; left:0px; top:0px;"></canvas>
</div>
</body>
</html>